.popup
    .popup-content 
        .popup-top
            h3 Nam tempor posuere aucibus 
            <i class="fa-solid fa-xmark"></i>
        img(src="img/icon.jpg", alt="")
        p fhusha asidhkasbd klk hsafkhcxihasio lsahdohuasuc soahjdiaosn soahdasuohnch
