.content-fluid
    .login
        h2 Fotobook Login
        form(action="/sign-in", method="post")
            img(src="img/usericon.png", alt="")
            .input
                input(type="text",placeholder="Email")
                input(type="password", name="",placeholder="Password")
            button(type="submit") Login 
            a(href="") Forgot password?
        a(href="/signup") Create an account
