.content-fluid
    .login
        h2 Fotobook Login
        form(action="/signup", method="post")
            
            p First Name
            input(type="text",name="firstName",placeholder="First Name")
            p Last Name
            input(type="text",name="lastName",placeholder="Last Name")
            p Email
            input(type="text",name="email",placeholder="Email")
            p New Password
            input(type="password", name="newPassword",placeholder="Password")
            p Password Confirmation
            input(type="password", name="passwordConfirm",placeholder="Password")
                
            button(type="submit") Signup 
            
