doctype html
html(lang="en")
    include ./block/head.pug        
    body 
        include ./block/post.pug        
        include ./block/header.pug
        include ./block/menu.pug
        +header()
        .content.container-fluid
            .container.px-0
                .navbar.row
                    +menu(menu)
                            
                    .content-main.col-10.py-4
                        .group-button
                            button Photo 
                            button.isActive Album
                        for p in posts= posts            
                            +post(p.name,p.post_link,p.summary_content,p.number_like,p.date_post)
                        .pagination 
                            ul 
                                li
                                    a(href="#") Previous
                                li
                                    a.isActive(href="#") 1
                                li
                                    a(href="#") 2
                                li
                                    a(href="#") 3
                                li
                                    a(href="#") 4
                                li
                                    a(href="#") Next
                    .right.col-1
                        
        

        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js",integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2",crossorigin="anonymous") 
        script(src="https://kit.fontawesome.com/93524964e8.js" crossorigin="anonymous")
