doctype html
html(lang="en",style="background-color: white !important;")
    include ./block/head.pug
    body
        include ./block/header.pug 
        +header()
        if message
            include ./block/signin.pug
        else 
            include ./block/signup.pug

