doctype html
html(lang="en")
    include ./block/head.pug        
    body 
        include ./block/photo.pug        
        include ./block/header.pug
        include ./block/menu.pug
        +header()
        .content.container-fluid
            .container.px-0
                .navbar.row
                    +menu(menu)
                            
                    .content-main.col-10
                        .btn-add-photo
                            a(href="/addalbum")
                                button Add New Album 
                            
                        .photos
                            for p in posts= posts            
                                +photo(p.name,p.post_link,p.summary_content,p.number_like,p.date_post)
                        include ./block/pagination.pug
                    .right.col-1
                        
        
        include ./block/popup.pug
        include ./block/script.pug
        
