* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .015em;
}

:root {
    --main-color: #3252a8
}

p {
    margin-bottom: 0 !important;
}

.user>img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.header {
    background-color: var(--main-color);
}


#logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 800;

}

.navbar a:hover {
    color: white;
}

.nav-main>form>input {
    border: none;
    border-radius: 4px;
    padding: .65em;
}

.nav-main>form>input:focus {
    outline: none;
    box-shadow: 0px 0px 15px rgb(170, 183, 243);
}

.content {
    background-color: rgb(240, 240, 240);

}

.left {
    align-self: flex-start;
}

.left>ul {
    list-style: none;

}

.left>ul>li>a {
    color: rgb(83, 83, 83);
    font-size: 14px;
    padding: .8em 0;
}

.left>ul>li>a:hover {
    color: var(--main-color);
}


.content-main {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 0 auto;
    justify-content: center;
}

.group-button {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}



.group-button button {
    padding: .25em .65em;
    border: 1px solid var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75em;
    background-color: white;
    color: var(--main-color);
}

button.isActive {
    background-color: var(--main-color);
    color: white;
}

.post {
    padding: .75em;
    display: flex;
    position: relative;
    width: 30em;
    height: 14em;
    margin: .45em;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(90, 90, 90, 0.144), 0 3px 10px 0 rgba(90, 90, 90, 0.144);
}

.image-post {

    position: relative;
    width: 15em;
}



.image-post>img {

    width: 12em;
    height: 12em;
    object-fit: cover;
    position: absolute;
    border: 1px solid white;
}

.image-post>img:nth-child(1) {
    z-index: 100;
}

.image-post>img:nth-child(2) {
    transform: rotate(3deg);
    z-index: 99;
}

.image-post>img:nth-child(3) {
    transform: rotate(6deg);
}

.content-post {
    position: relative;
    width: 15em;

}

.content-post>a {
    color: black;

}



.user-post {
    display: flex;
    align-items: center;
    padding: .25em 0;

}

.content-post>a:hover {
    color: black;
    font-size: .875em;

}

.user-post>a {
    color: var(--main-color);
    font-size: .875em;

}

.user-post>a:hover {
    color: var(--main-color);

}

.user-post>img {
    width: 1.75em;
    height: 1.75em;
    border-radius: 1em;
}

.content-post>a,
.content-post>p {
    font-size: .875em;
    overflow: hidden;
    text-overflow: ellipsis;



}

.content-post>p {
    flex-grow: 3;
    height: 6em;
    white-space: normal;


}


.pagination {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;

}

.pagination>ul {
    padding: 0;
    height: 2em;
    list-style: none;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(90, 90, 90, 0.144), 0 3px 10px 0 rgba(90, 90, 90, 0.144);
}

.pagination>ul>li>a {
    color: black;
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-size: .75em;
    padding: 1em;

}

a.isActive {
    background-color: var(--main-color);
    color: white !important;
}

.pagination>ul>li>a:hover {
    background-color: var(--main-color);
    color: white;
}

.content-post>.more {
    display: flex;
    justify-content: space-between;


}

.content-post.more>i {
    color: rgb(83, 83, 83);
}

.content-post>.more>.like {
    display: flex;

    flex-direction: row;
}

.content-post>.more>.like>i {
    font-size: .85em;
    color: rgb(194, 194, 194) !important;
}

.content-post>.more p {
    font-size: .65em !important;
    color: rgb(83, 83, 83);
    padding-left: .35em;

}

.content-post {
    display: flex;
    flex-direction: column;
}