doctype html
html(lang='en')
    include ./block/head.pug        
    body 
        include ./block/feeds_photo.pug
        include ./block/feeds_album.pug
        include ./block/header.pug
        include ./block/menu.pug
        +header(user)
        .content.container-fluid
            .container.px-0
                .navbar.row
                    +menu(menu)
                            
                    .content-main.col-10.py-4
                        .group-button
                            a(href='?filter=photos')
                                button(class=button=='photos'?'isActive':'') Photos 
                            a(href='?filter=albums')
                                button(class=button=='albums'?'isActive':'') Albums
                        .posts
                            if button=='photos'
                                if photos
                                    for p in photos            
                                        +feeds_photo(p)
                            if button=='albums'
                                if albums 
                                    
                                    for alb in albums 
                                        +feeds_album(alb)
                        include ./block/pagination.pug
                        if(numberPhoto)
                            +pagination(numberPhoto,page,'photos')
                        if(numberAlbum)
                            +pagination(numberAlbum,page,'albums')
                    .right.col-1
                        
        if button=='photos'
            include ./block/popup.pug
        if button=='albums'
            include ./block/popupalbum.pug
            
        
            
        include ./block/script.pug
        
