doctype html
html(lang='en')
    include ./block/head.pug        
    body 
        include ./block/feeds_photo.pug
        include ./block/feeds_album.pug
        include ./block/header.pug
        include ./block/menu.pug
        +header(user)
        .content.container-fluid
            .container.px-0
                .navbar.row
                    +menu(menu)
                            
                    .content-main.col-10.py-4
                        .group-button
                            a(href='?filter=photos')
                                button(class=button=='photos'?'isActive':'') Photos 
                            a(href='?filter=albums')
                                button(class=button=='albums'?'isActive':'') Albums
                        .posts
                            if button=='photos'
                                if photos
                                    for p in photos            
                                        +feeds_photo(p)
                        include ./block/pagination.pug
                    .right.col-1
                        
        
        include ./block/popup.pug
        include ./block/script.pug
        
