doctype html
html(lang="en")
    include ./block/head.pug        
    body 
        include ./block/photo.pug        
        include ./block/header.pug
        include ./block/menu.pug
        +header(user)
        .content.container-fluid
            .container.px-0
                .navbar.row
                    +menu()
                            
                    .content-main.col-10
                        .btn-add-photo
                            a(href="photos/new")
                                button Add New Photo 
                            
                        .photos
                            for p in photos= photos
                                +photo(p)
                        
                        include ./block/pagination.pug
                        +pagination(numberPhoto)
                    .right.col-1
                        
        
        include ./block/popup.pug
        include ./block/script.pug
        
