* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .035em;

}

html {
    background-color: rgb(240, 240, 240);

}



:root {
    --main-color: #3252a8
}

p {
    margin-bottom: 0 !important;
}

.user>img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.header {
    background-color: var(--main-color);
}


#logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 800;

}

.navbar a:hover {
    color: white;
}

.nav-main>form>input {
    border: none;
    border-radius: 4px;
    padding: .65em;
}

.nav-main>form>input:focus {
    outline: none;
    box-shadow: 0px 0px 15px rgb(170, 183, 243);
}

.content {
    background-color: rgb(240, 240, 240);

}

.left {
    align-self: flex-start;
}

.left>ul {
    list-style: none;

}

.left>ul>li>a {
    color: rgb(83, 83, 83);
    font-size: 14px;
    padding: .8em 0;
}

.left>ul>li>a:hover {
    color: var(--main-color);
}


.content-main {
    background-color: white;
    padding: auto;
    min-height: 800px;
    min-width: 380px;
}

.group-button {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}



.group-button button {
    padding: .25em .65em;
    border: 1px solid var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75em;
    background-color: white;
    color: var(--main-color);
}

button.isActive {
    background-color: var(--main-color);
    color: white;
}

.posts {

    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    min-width: 170px;

}



.post {
    padding: .75em;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 46%;
    min-width: 300px;
    margin: .45em;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(90, 90, 90, 0.144), 0 3px 10px 0 rgba(90, 90, 90, 0.144);
}

.image-post {

    position: relative;
    width: 12em;
    height: 12em;
}



.image-post>img {

    width: 90%;
    height: 90%;
    object-fit: cover;
    border: 1px solid white;

}

.image-post>img:nth-child(1) {
    z-index: 100;
    position: absolute;
}

.image-post>img:nth-child(2) {
    transform: rotate(3deg);
    z-index: 99;
    position: absolute;
}

.image-post>img:nth-child(3) {
    transform: rotate(6deg);
}

.content-post {
    position: relative;
    width: 15em;

}

.content-post>a {
    color: black;

}



.user-post {
    display: flex;
    align-items: center;
    padding: .25em 0;

}

.content-post>a:hover {
    color: black;
    font-size: .875em;

}

.user-post>a {
    color: var(--main-color);
    font-size: .875em;

}

.user-post>a:hover {
    color: var(--main-color);

}

.user-post>img {
    width: 1.75em;
    height: 1.75em;
    border-radius: 1em;
}

.content-post>a,
.content-post>p {
    font-size: .875em;
    overflow: hidden;
    text-overflow: ellipsis;



}

.content-post>p {
    flex-grow: 3;
    height: 6em;
    white-space: normal;


}


.pagination {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;

}

.pagination>ul {
    padding: 0;
    height: 2em;
    list-style: none;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(90, 90, 90, 0.144), 0 3px 10px 0 rgba(90, 90, 90, 0.144);
}

.pagination>ul>li>a {
    color: black;
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-size: .75em;
    padding: 1em;

}

a.isActive {
    background-color: var(--main-color);
    color: white !important;
}

.pagination>ul>li>a:hover {
    background-color: var(--main-color);
    color: white;
}

.content-post>.more {
    display: flex;
    justify-content: space-between;


}

.content-post.more>i {
    color: rgb(83, 83, 83);
}

.content-post>.more>.like {
    display: flex;

    flex-direction: row;
}

.content-post>.more>.like>i {
    font-size: .85em;
    color: rgb(194, 194, 194) !important;
}

.content-post>.more p {
    font-size: .65em !important;
    color: rgb(83, 83, 83);
    padding-left: .35em;

}

.content-post {
    display: flex;
    flex-direction: column;
}

@keyframes popup {
    0% {
        top: 20px;
        opacity: 0;
    }

    50% {
        top: 10px;
        opacity: 0.6;
    }

    100% {
        top: 0px;
        opacity: 1;
    }

}

.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.568);
    top: 0;
    left: 0;
    z-index: 110;
}

.popup-content {
    position: relative;
    width: 45%;
    background-color: white;
    margin: 6% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: .75rem;
    border-radius: .25rem;
    animation-name: popup;
    animation-duration: 0.4s;
}

.popup-content>img {
    width: 98%;
    object-fit: cover;
}

.popup-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    padding: .45rem;
}

.popup-top>i {
    cursor: pointer;
}

.popup-content>.popup-top>h3 {
    font-size: 1rem;
    font-weight: 600;
}

.popup-content>p {
    font-size: .85rem;
    padding: .45rem;
}

.popup-content>p,
.popup-content>.popup-top>h3 {

    width: 100%;
}

.isPopup {
    display: block !important;
}

.photos {
    width: auto;
    margin-left: 1.5%;
    display: flex;
    flex-wrap: wrap;


}

.photo {
    position: relative;
    margin: 10px;
    width: 12rem;
    height: 12rem;
    box-shadow: 0 2px 4px 0 rgba(90, 90, 90, 0.144), 0 3px 10px 0 rgba(90, 90, 90, 0.144);
}

.image-photo {
    width: 100%;
    height: 100%;
    margin: auto;
}

.image-photo>img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}



.content-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 10px;
    background-color: rgba(66, 66, 66, 0.384);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.content-photo>p {
    width: 80%;
    color: white;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
}

.content-photo>i {
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
}

.lock {
    margin: 8px 8px;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: white;
    border-radius: 1em;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lock>i {

    text-align: center;
    font-size: 12px;
}

.btn-add-photo {
    margin: 12px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-add-photo button {
    color: white;
    background-color: rgb(51, 160, 65);
    font-size: 12px;
    padding: 8px;
    border: none;
    font-weight: 600;
    box-shadow: 0 2px 4px 0 rgba(90, 90, 90, 0.144), 0 3px 10px 0 rgba(90, 90, 90, 0.144);
}

.btn-add-photo button:hover {
    box-shadow: 0 2px 4px 0 rgba(51, 160, 65, 0.4), 0 3px 10px 0 rgba(51, 160, 65, 0.4);
}


form.add-new {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}

.new-photo-text {
    border-bottom: 2px solid rgb(192, 192, 192);
}

.new-photo-text h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
}

.new-photo-content {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.npc-left,
.npc-right {}

.npc-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

}

.npc-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.npc-title>input,
.npc-title>input:focus {
    width: 90%;
    padding: 8px 8px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #aaa;
}

.npc-sharing>select,
.npc-sharing>select:focus {
    width: 45%;
    padding: 8px 8px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #aaa;
    background-color: white;
}

.new-photo-content label {
    display: block;
    padding: 4px 0;

}

.npc-desc>textarea {
    height: 120px;
    width: 350px;
    resize: none;
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 8px 8px;
}

.npc-desc>textarea:focus {
    outline: none;
}

.new-photo-add {
    padding: 8px 0;
}

.new-photo-add>label {}

.new-photo-add>label>i {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #aaa;
    background-color: rgb(236, 236, 236);
    font-size: 40px;
    border-radius: 4px;
    border-style: dashed;
    color: rgb(136, 136, 136)
}

.new-photo-add>input {
    display: none;
}

.new-photo-add>button {
    display: block;
}

.new-photo-submit {
    padding: 12px 0;
}


.new-photo-submit>button {
    color: white;
    font-size: 14px;
    padding: 8px;
    border: none;

    background-color: rgb(51, 160, 65);
}