mixin album(alb)
    .photo                            
        .image-photo
            img(src=alb.image, alt="")
            
        .content-photo
            p=alb.title
             
            a(href="photos/"+alb.id+"/edit")
                <i class="fa-solid fa-pen-to-square"></i>
        if !alb.isPublic
            .lock
                <i class="fa-solid fa-lock"></i>
        