mixin menu()
    .left.col-1
        ul.ps-0
            li 
                a(href="/feeds") Feeds
            li 
                a(href="/photos") My Photos
            li 
                a(href="/albums") My Albums
                