mixin pagination(numberPage,type)
    .pagination 
        ul 
            li
                a(href="#") Previous
            - var n=1
            while n<=numberPage            
                li
                    if(type)
                        a(href=`?filter=${type}&page=${n}`)=n++
                    else
                        a(href=`?page=${n}`)=n++
            li
                a(href="#") Next