mixin photo(name,title,description,image,date_post)
    .photo                            
        .image-photo
            img(src="data:image/png;base64, "+image, alt="")
            
        .content-photo
            p=title
             
            <i class="fa-solid fa-pen-to-square"></i>
        .lock
            <i class="fa-solid fa-lock"></i>
        