mixin photo(name,post_link,summary_content,number_like,date_post)
    .photo                            
        .image-photo
            img(src="img/icon.jpg", alt="", srcset="" )
            
        .content-photo
            p Nam tempor posuere baucibus
             
            <i class="fa-solid fa-pen-to-square"></i>
        .lock
            <i class="fa-solid fa-lock"></i>
        