
.popup
    .popup-content 
        .popup-top
            h3 Nam tempor posuere aucibus 
            <i class="fa-solid fa-xmark"></i>
        #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
            .carousel-inner
                .carousel-item.active
                img.d-block.w-100(src='...' alt='...')
                .carousel-item
                img.d-block.w-100(src='...' alt='...')
                .carousel-item
                img.d-block.w-100(src='...' alt='...')
            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next
        p fhusha asidhkasbd klk hsafkhcxihasio lsahdohuasuc soahjdiaosn soahdasuohnch